{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/lecturer.css')}}" />
{% endblock %}

{% block header %}
    <div class="topnav">
      <form method="post" action="{{url_for('lecturer.assessors')}}" id="assessors">
        <a class="fade" onclick="document.getElementById('assessors').submit();">Assessors</a>
      </form>
      <form method="post" action="{{url_for('lecturer.gatherings')}}" id="gatherings">
        <input type="text" id="id" name="id" hidden="hidden" value="{{g.user['id']}}">
        <a class="fade" onclick="document.getElementById('gatherings').submit();">Gatherings</a>
      </form>
      <form method="post" action="{{url_for('lecturer.module_results')}}" id="module_results">
        <input type="text" id="id" name="id" hidden="hidden" value="{{g.user['id']}}">
        <a class="fade" onclick="document.getElementById('module_results').submit();">Module Results</a>
      </form>
      <form method="post" action="{{url_for('lecturer.section_results')}}" id="section_results">
        <input type="text" id="id" name="id" hidden="hidden" value="{{g.user['id']}}">
        <a class="fade" onclick="document.getElementById('section_results').submit();">Section Results</a>
      </form>
    </div>
{% endblock %}

{% block article %}
{% endblock %}

{% block js %}
{% block js_lecturer %}{% endblock %}
{% endblock %}