{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/auth.css')}}" />
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block header %}
  <h1>Log In</h1>
{% endblock %}

{% block article %}
  <form method="post">
    <center>
      <table>
          <tr>
              <td colspan="2">
                  <label for="id">NWU ID: </label><br>
                  <input type="text" id="user_id" name="user_id" style="width: 100%;" required>
              </td>
          </tr>
          <tr>
              <td colspan="2">
                  <label for="password">password: </label><br>
                  <input type="password" id="password" name="password" style="width: 100%;" required>
              </td>
          </tr>
          <tr>
            <td>
              <label for="type">Type:</label>
              <select name="type" id="type">
                <option value="Lecturer"  selected>Lecturer</option>
                <option value="Assessor">Assessor</option>
                <option value="Student">Student</option>
              </select>
            </td>
          </tr>
      </table>  
    </center>
    <button type="submit" >Submit</button>
  </form>
{% endblock %}