{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/auth.css')}}" />
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block header %}
  <h1>Register</h1>
{% endblock %}

{% block article %}
  <form method="post" action="{{url_for('auth.register')}}">
    <center>
      <table>
        <tr>
          <td>
            <label for="type">Type:</label>
            <select name="type" id="type">
              <option value="Lecturer" selected>Lecturer</option>
              <option value="Assessor">Assessor</option>
              <option value="Student">Student</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label for="username">username: </label><br>
            <input type="text" id="username" name = "username" placeholder="Adam" style="width: 100%;" maxlength="22" required>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label for="user_id">NWU ID: </label><br>
            <input type="text" id="user_id" name = "user_id" placeholder="12345678" style="width: 100%;" required>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label for="password">password: </label><br>
            <input type="password" id="password" name = "password" placeholder="🤫" style="width: 100%;" maxlength="22" required>
          </td>
        </tr>
        <tr>
          <td>
            <div id="assessor">
              <label for="year">Year of field:</label>
              <select name="year" id="year">
                <option value='1'>1</option>
                <option value='1'>2</option>
                <option value='1'>3</option>
                <option value='1'>4</option>
                <option value='1'>5</option>
                <option value='1'>6</option>
                <option value='1'>7</option>
              </select>
              <label for="field">Field of study:</label>
              <select name="field" id="field">
                <option value="IND">Industrial Engineering</option>
                <option value="CE">Computer and Electronic Engineering</option>
                <option value="ELC">Electromechanical Engineering</option>
                <option value="EE">Electrical and Electronic Engineering</option>
                <option value="MEC">Mechanical Engineering</option>
                <option value="CHM">Chemical Engineering</option>
                <option value="CHMIN">Chemical Engineering: Minerals Processing</option>
                <option value="MECTR">Mechatronics</option>
              </select>
              <label for="masters">M-student:</label>
              <br>
              <input type="checkbox" name="masters" id="masters">
            </div>
          </td>
        </tr>
      </table>  
    </center>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %} 
    <button type="submit">Submit</button>
  </form>
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function()
    {
      if ($("#type").val() == "Lecturer"){
        $("#assessor").hide();
      }else{
        $("#assessor").show();
      }
    });

    $("#type").on('change', function(){
      if ($(this).val() == "Lecturer"){
        $("#assessor").hide();
        $("#username").show();
        $("label[for='username']").show()
        $("#username").prop('required',true);
      }else if($(this).val() == "Student"){
        $("#username").hide();
        $("#assessor").hide()
        $("label[for='username']").hide()
        $("#username").prop('required',false);
      }else if($(this).val() == "Assessor"){
       $("#assessor").show();
       $("#username").show();
       $("label[for='username']").show()
       $("#username").prop('required',true);
      }
    });
    
  </script>
{% endblock %}