{% extends 'assessor/assessor.html' %}
{% block article %}
{% block scheadules %}
  <form method="post">
    <input type="text" id="id" name="id" hidden="hidden" value="{{g.user['id']}}">
    <div id="Gatherings">
        <div class="row">
            <div class="table-wrap">
                <table class="table">
                    <thead class="thead-primary">
                        <tr>
                            <th>Module</th>
                            <th>Lecturer</th>
                            <th>Created</th>
                            <th>Chat Room</th>
                            <th>ADAM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for scheadule in scheadules %}
                                <th scope="row" class="scope">{{scheadule['Mod']}}</th>
                                    <td>{{scheadule['Lec']}}</td>
                                    <td>{{scheadule['Crt']}}</td>
                                    <td><a href="{{url_for()}}" class="btn btn-primary">Enter</a></td>
                                    <td><a href="{{url_for()}}" class="btn btn-primary">Begin</a></td>
                                </tr>
                            {% endfor %}
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </form>
{% endblock %}
{% endblock %}
