{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/assessor.css')}}" />
  <h1>{% block title %}Assessor{% endblock %}</h1>
{% endblock %}

{% block header %}
  <form id="change_status" method="post" action="{{url_for('assessor.status')}}">
    <input type="text" id="id" name="id" hidden="hidden" value="{{g.user['id']}}">
    <label for="available">status:</label>
    <select name="status" id="status">
      {% if g.user['sts'] == 0%}
      <option value="Available">Available</option>
      <option value="Busy" selected>Busy</option>
      {% else %}
        <option value="Available" selected>Available</option>
        <option value="Busy">Busy</option>
      {% endif %}
    </select> 
  </form>
{% endblock %}

{% block article %}
{% endblock %}

{% block js %}
<script>
  $("#status").on('change', function(){
    $("#change_status").submit();
  });
</script>
{% endblock %}