{% block assessor %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../static/bootstrap/css/Lecturer.css' />
    <title>ADAM</title>    
        
</head>
<body>
    <header>
        <table>
            <tr>
                <td class="name">{{assessor.username}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="name">{{assessor.rating}}</td>
                <td></td>
                <td></td>
            </tr>
        </table>  
    </header>          

    <article>
        <h1>My Modules</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                <th>modules</th>
                </tr>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                {% for module in assessor.modules %}
                <tr>
                <td>{{module}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </article>

    <footer>
        <center><img src= "{{ user_image }}" alt="NWU"></center>
    </footer>
    
</body>

<script>
    $(window).on("load resize ", function() {
    var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
    $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();
</script>
</html>
{% endblock %}