<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../static/bootstrap/css/Sign-in.css' />
    <title>ADAM/Sing-In</title>
</head>
<body>
    <header>
        <center>Sign-In</center>
    </header>          

    <form method="post" action="{{ url_for('dashboard') }}">
        <center>
            <table>
                <tr>
                    <td colspan="2">
                        <label for="email">email address: </label><br>
                        <input type="email" id="email" name="email" style="width: 100%;"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="password">password: </label><br>
                        <input type="password" id="password" name="password" style="width: 100%;"/>
                    </td>
                </tr>
            </table>  
        </center>
        <button type="submit" >Submit</button>
        <a href="{{ url_for('home') }}" class="back">back</a>
    </form>
        
    <footer>
        <center><img src= "{{ user_image }}" alt="NWU"></center>
    </footer>


</body>
</html>