<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../static/bootstrap/css/Welcome.css' />
    <title>ADAM</title>
</head>
<body>
    <header>
        <table>
            <tr>
                <td></td>
                <td class="welcome">Welcome</td>
                <td class="option1"><a href="{{ url_for('Signin') }}" target="_self">Sign-in</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="option2"><a href="{{ url_for('Signup') }}" target="_self">Sign-up</a></td>
            </tr>
        </table>  
    </header>          

    <article><h2>ADAM</h2><p>This is the way normal words appear in a line.This is the way normal words 
        appear in a line.This is the way normal words appear in a line.This is the way normal words appear in a line.
        This is the way normal words 
        appear in a line.This is the way normal words appear in a line.This is the way normal words appear in a line.
        This is the way normal words 
        appear in a line.This is the way normal words appear in a line.This is the way normal words appear in a line.
        This is the way normal words 
        appear in a line.This is the way normal words appear in a line.This is the way normal words appear in a line.
        This is the way normal words 
        appear in a line.This is the way normal words appear in a line.This is the way normal words appear in a line.
        This is the way normal words 
        appear in a line.This is the way normal words appear in a line.This is the way normal words appear in a line.
        This is the way normal words 
        appear in a line.This is the way normal words appear in a line.This is the way normal words appear in a line.
        This is the way normal words 
        appear in a line.This is the way normal words appear in a line.This is the way normal words appear in a line.
        This is the way normal words 
        appear in a line.This is the way normal words appear in a line.This is the way normal words appear in a line.</p>
    </article>

    <footer>
        <center><img src= "{{ user_image }}" alt="NWU"></center>
    </footer>

</body>
</html>