{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/index.css')}}" />
{% endblock %}

{% block header %}
  <h1>ADAM</h1>
{% endblock %}

{% block article %}
<article>
{% block assessors %}
    <h1>Our Assessors</h1>
    {% for assessor in assessors %}
      <table>
        <tr> <th>username</th> <th>FOS</th> </tr>
        <tr> <td><h1>{{ assessor['username'] }}</h1></td> <td><h1>{{ assessor['FOS'] }}</h1></td> </tr>
      </table>
  {% endfor %}
{% endblock %}
</article>
{% endblock %}